@charset "utf-8";

/* 공통 시작 */
.blind{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
/* 스크롤 */
::-webkit-scrollbar {
  width: 8px;
  transition: all 0.2s;
}
::-webkit-scrollbar-track { 
  background-color: transparent;
}
::-webkit-scrollbar-thumb { 
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-button {
  display: none;
}

/* 코너에 라운드 효과 */
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

/* 공통 끝 */

/* 색상 시작 */
.bg-kh-main{
  background-color: #FF432A;
}
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link{
  color: #fff;
  transition: .3s;
}
/* 색상 끝 */


/* 아이콘(icon) 시작 */
i{
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}
.ic_login_person{
  background-image: url("../image/icon/ic_login_person.png");
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.ic_password{
  background-image: url("../image/icon/ic_password.png");
  width: 13px;
  height: 17px;
  margin-right: 10px;
}
.ic_invisible{
  background-image: url("../image/icon/ic_invisible.png");
  width: 14px;
  height: 14px;
}
.ic_logout{
  background-image: url("../image/icon/ic_logout.png");
  width: 14px;
  height: 14px;
}
.ic_student{
  background-image: url("../image/icon/ic_student.png");
}
.ic_professor{
  background-image: url("../image/icon/ic_professor.png");
}
.ic_admin{
  background-image: url("../image/icon/ic_admin.png");
}
.ic_user{
  background-image: url("../image/icon/ic_user.png");
}
.ic_admin{
  background-image: url("../image/icon/ic_admin.png");
}
.ic_user-modify{
  background-image: url("../image/icon/ic_user-modify.png");
}
.ic_people{
  background-image: url("../image/icon/ic_people.png");
}
.ic_notice{
  background-image: url("../image/icon/ic_notice.png");
}
.ic_subject{
  background-image: url("../image/icon/ic_subject.png");
}
.ic_grade{
  background-image: url("../image/icon/ic_grade.png");
}
.ic_lecture{
  background-image: url("../image/icon/ic_lecture.png");
}
.ic_class{
  background-image: url("../image/icon/ic_class.png");
}
.ic_search{
  background-image: url("../image/icon/ic_search.png");
}
/* 아이콘(icon) 끝 */

/* 로그인(login) 페이지 시작 */
.login_container{
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: 'notosans', sans-serif;
}
.kh_logo{
  position: absolute;
  top: 20px;
  left: 20px;
  font-weight: bold;
}
.login_bg{
  background-image: url("../image/login_main.jpg");
  width: calc(100% - 600px);
  height: calc(1028px - 110px);
  background-size: cover;
  background-position: center center;
}
.login_group{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
}
.login_wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 430px;
}
.kh_title{
  margin-bottom: 40px;
  font-weight: 600;
}
.login_container .form-group{
  margin-bottom: 50px;
}
.form_wrap{
  width: 100%;
}
.form_input_item{
  display: flex;
  align-items: center;
  border-bottom: 2px solid #000;
  padding: 4px;
}
.form_input_item input{
  flex: 1 1 auto;
  border: none;
}
.form_input_item input::placeholder{
  color: #000;
}
.login_container .form-group .form-text-label{
  font-size: 13px;
  margin-bottom: 12px;
}
.login_container .form-check{
  display: flex;
  justify-content: space-between;
}
.login_container .form-check-label{
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.25;
}
.login_container .form-check-input{
  margin-top: 0px;
}
.forget_pw_link{
  font-size: 12px;
}
.login_container .btn-warning.btn_login{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 32px;
  border-color: #FF432A;
  padding: 16px 5px;
  background-color: #FF432A;
  color: #fff;
  font-size: 16px;
  transition: .3s;
}
.login_container .btn-warning.btn_login:hover, .login_container .btn-warning.btn_login:focus{
  background-color: #fff;
  color: #FF432A;
  outline: #FF432A;
}
/* 로그인(login) 페이지 끝 */

/* 버튼 시작 */
.btn_invisible{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  width: 24px;
  height: 24px;
}
/* 버튼 끝 */

/* 공통 레이아웃 시작 */
.layout{
  display: flex;
  width: 100%;
  height: 100%;
}
.lnb_wrap{
  position: relative;
  width: 212px;
  height: 100vh;
  padding: 16px;;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.user_info_wrap{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.user_info_group{
  display: flex;
  align-items: center;
}
.user_info_text{
  margin: 0px 8px;
  font-size: 12px;
}
.logout{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

/* lnb 시작 */
.lnb_group{
  margin: 0;
}
.lnb_item{
  margin-bottom: 12px;
}
.lnb_link{
  display: inline-flex;
  align-items: center;
  width: 100%;
  border-radius: 12px;
  padding: 8px;
  font-size: 14px;
  color: #000;
  transition: 0.3s;
}
.lnb_link::before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background-image: url("../image/icon/ic_arrow-right.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.lnb_link > span{
  margin-left: 8px;
}
.lnb_link:hover, .lnb_link:focus, .lnb_link._active{
  text-decoration: none;
  color: #000;
  background-color: rgba(0, 0, 0, 0.05);
}
.lnb_ft_logo_wrap{
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 20px;
  transform: translateX(-50%);
}
.main_logo{
  width: 100%;
  height: 100%;
  margin: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.kh_ft_logo{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 135px;
  height: 20px;
  background-image: url("../image/icon/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
/* lnb 끝 */

/* 메인 헤더 레이아웃 시작 */
.main_layout{
  flex: 1 1 calc(100% - 212px);
}
.kh_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 68px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 28px;
}
.breadCrumb_wrap .breadCrumb_item{
  position: relative;
  margin-right: 8px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}
.breadCrumb_wrap .breadCrumb_item::before{
  content: "/";
  display: inline-block;
  color: rgba(0, 0, 0, 0.4);
  margin-right: 8px;
}
.breadCrumb_wrap .breadCrumb_item:first-child:before{
  display: none;
}
.breadCrumb_wrap .breadCrumb_item:last-child{
  color: #000;
}
.breadCrumb_wrap .breadCrumb_item:last-child::before{
  color: #000;
}
.search_bar_wrap{
  display: flex;
  align-items: center;
  width: 160px;
  border-radius: 8px;
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.05);
}
.search_bar{
  flex: 1 1 auto;
  width: 100%;
  border: none;
  padding: 0;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
}
.search_bar::placeholder{
  color: rgba(0, 0, 0, 0.4);
}
.btn_search{
  width: 20px;
  height: 20px;
}
/* 메인 헤더 레이아웃 끝 */

/* 메인 레이아웃 시작 */
.main_container{
  width: 100%;
  height: calc(100vh - 68px);
  padding: 28px;
  overflow-y: auto;
}
.main_container h1{
  font-size: 28px;
  font-weight: bold;
}
/* 메인 레이아웃 끝 */

/* 검색창 시작 */
.main_container div[class*="container"] .input-group select.form-control{
  flex: 0 0 120px;
}
.main_container div[class*="container"] .input-group select.form-control+.form-control{
  flex: 0 0 calc(100% - 120px - 50px);
}
/* 검색창 끝 */

/* 테이블 레이아웃 시작 */
.main_container .table{
  font-size: 14px;
}
.main_container .table.table-hover tbody tr{
  transition: .3s;
}
.main_container .form-group{
  font-size: 12px;
}
.main_container div[class*="container"] .input-group .form-control,
.main_container div[class*="container"] .input-group .btn{
  font-size: 12px;
}
/* 테이블 레이아웃 끝 */

/* 공통 레이아웃 끝 */