<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.app.dao.MemberDAO">
	
	<select id="selectMember" resultType="MemberVO">
		select * from member where me_id = #{me_id}
	</select>
	<insert id="insertStudent">
		insert into student (me_id, st_ma_num) values (#{me_id}, #{st_ma_num})
	</insert>
	<insert id="insertProfessor">
		insert into professor (me_id, pr_ma_num) values(#{me_id}, #{pr_ma_num})		
	</insert>
	<insert id="insertUser">
        insert into member (me_id, me_name, me_email, me_authority)
        values (#{user.me_id}, #{user.me_name}, #{user.me_email}, #{user.me_authority})
    </insert>
</mapper>