<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.app.dao.NoticeDAO">
	
	<resultMap id="NoticeMap" type="NoticeVO" >
		<id property="no_num" column="no_num"/>
		<result property="no_title" column="no_title"/>
		<result property="no_content" column="no_content"/>
		<result property="no_date" column="no_date"/>
		<result property="no_view" column="no_view"/>
		<result property="no_me_id" column="no_me_id"/>
		
		<association property="member" javaType="kr.kh.app.model.vo.MemberVO">
			<id property="me_id" column="me_id"/>
			<result property="me_name" column="me_name"/>
		</association>
	
	</resultMap>
	
	<select id="selectNoticeList" resultMap="NoticeMap">
		select * from notice
		join member on no_me_id = me_id
		<if test="cri.search != null">
		where no_title like concat('%', #{cri.search},'%')
		</if>
		order by no_num desc
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="selectNoticeTotalCount" resultType="int">
		select count(*) from notice 
		<if test="cri.search != null">
		where no_title like concat('%', #{cri.search},'%')
		</if> 
	</select>
	
	<update id="updateNoticeView">
		update notice set no_view = no_view + 1 where no_num = #{no_num}
	</update>
	<select id="selectNotice" resultMap="NoticeMap">
		select * from notice
		join member on no_me_id = me_id
		where no_num = #{no_num}
	</select>
	
	<insert id="insertNotice">
		insert into notice(no_title, no_content, no_me_id)
		values(#{no.no_title}, #{no.no_content}, #{no.member.me_id})
	</insert>
	<update id="updateNotice">
		update notice set no_title = #{no.no_title}, no_content = #{no.no_content}
		where no_num = #{no.no_num}
	</update>
</mapper>