<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.app.dao.SubjectDAO">
	<select id="selectSubjectList" resultType="SubjectVO">
		select * from subject
	</select>
	<select id="selectSubjectStatusList" resultType="SubjectVO">
		SELECT DISTINCT su_status FROM subject
	</select>
	
	<resultMap id="SubjectMap" type="SubjectVO">
        <id property="su_num" column="su_num" />
        <result property="su_name" column="su_name" />
        <result property="su_time" column="su_time" />
        <result property="su_point" column="su_point" />
        <result property="su_status" column="su_status" />
        <result property="su_ma_num" column="su_ma_num" />

        <association property="major" javaType="kr.kh.app.model.vo.MajorVO">
            <id property="ma_num" column="ma_num" />
            <result property="ma_name" column="ma_name" />
        </association>
    </resultMap>
	
	<select id="subjectSuMaNumList" resultMap="SubjectMap">
		SELECT DISTINCT ma_num, ma_name FROM subject join major on su_ma_num = ma_num
	</select>
	
	<insert id="subjectInsert">
		insert into subject(su_name, su_time, su_point, su_status, su_ma_num)
		values(#{su.su_name}, #{su.su_time}, #{su.su_point}, #{su.su_status}, #{su.su_ma_num})
	</insert>
	
	<!-- 
	<resultMap id="SubjectLectureMap" type="SubjectVO">
        <id property="su_num" column="su_num" />
        <result property="su_name" column="su_name" />
        <result property="su_time" column="su_time" />
        <result property="su_point" column="su_point" />
        <result property="su_status" column="su_status" />
        <result property="su_ma_num" column="su_ma_num" />

        <association property="lecture" javaType="kr.kh.app.model.vo.LectureVO">
            <id property="le_num" column="le_num" />
            <result property="le_room" column="le_room" />
            <result property="le_schedule" column="le_schedule" />
            <result property="le_year" column="le_year" />
            <result property="le_semester" column="le_semester" />
            <result property="le_su_num" column="le_su_num" />
            <result property="le_me_id" column="le_me_id" />
        </association>
    </resultMap>
	<select id="selectSubjectLectureList" resultMap="SubjectLectureMap">
		SELECT DISTINCT * FROM lecture
		join subject on su_num = le_su_num;
	</select>
	 -->
	 
	<insert id="professorSubjectInsert">
		insert into lecture(le_room, le_schedule, le_year, le_semester, le_su_num, le_me_id)
		values(#{le_room},#{le_schedule},#{le_year},#{le_semester},#{su_num},#{me_id})
	</insert>
	
</mapper>